

body{
    background-color: white;
    text-align: center;
}
#home{
     position: absolute;
    overflow: hidden;
    right: 0;
    left: 0;
    bottom: 0;
    height: 400px;        
    top: 0;
    color: white;
    background: linear-gradient(#F75D59 0%, #F9966B 100%);
    width: 100%;
    display: table;
    opacity: 0.83;
    text-align: center;
margin-top: 80px;
}
img{
    margin: 100px;
    border-radius:150px;
}
marquee{
    font-size: 20px;
 color:black;
  
  background-color: aqua;
}
button{
    font-weight: bold;
    font color: white;
    background-color: aquamarine;
    margin-left: 10px;
}
#mess{
    background-color: bisque;
    margin-top: 600px;
    display: inline-block;
}
#awards{
    font-family: cursive;
background-color: azure;    
}
.line{line-height: 1.2px;}
iframe{
    width: 400px;
    height: 400px;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}
#nsn{
    text-align: center;
    display: block;
    font-family: cursive;
    font-size: 20px;
}
.mynav{
      position: sticky;
    top:0;
    z-index:9999; 
}
.image-responsive{
    width:100px;
    height: 100px;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
.camp{
    float: left;
    width: 33.33%;
    padding: 5px;
    border: 1px solid #c7c7c7;
}
.camp img{
width: 80%;
    height: 300px;
float: center;
}

.camp hr{
    width: 100%;
    
    

}

.camp p, .camp h5{
    margin-left: 20px;
}
.links-enviro {
    margin-bottom: 13px;
    margin-top: 13px;
}

.links-enviro {
    border-bottom: 1px solid white;
    padding: 8px;
}

.links-enviro img {
    border-radius: 25px;
width: 300px;
    height: 300px;
}

.links-enviro p {
    margin-top: 10px;
}

.movie {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie i {
    float: right;
}
#movie p{
    margin-bottom: 300px;
}.list-group{
    margin-left: 50px;
    margin-right: 50px;
}
